stage {
      font-size: 19pt;
      }
.calendar-day-base {
    font-size: 16pt;
    font-weight: normal;
     }
.nm-dialog-item{
    font-size: 19pt;
    font-weight: normal;
     }
.weather-button .weather-forecast-time {
    font-size: 16pt;
}
